body {
    /* background-image: url("../images/world.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient( rgba(32, 8, 240, 0.45), rgba(32, 8, 240, 0.45)), url("../images/world.jpg");
}

.contact-nav {
    align-items: center;
    text-decoration: none;
    max-width: fit-content;
    background-color: lavender;
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 30px, rgba(0, 0, 0, 0.22) 10px 10px 30px, rgba(0, 0, 0, 0.25) 10px 10px 30px, rgba(0, 0, 0, 0.22) 10px 10px 30px;
    border-radius: 20px;
    margin: auto;
    background-image: url("../images/world.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    max-width: fit-content;
    align-self: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 120px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px, rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contact-nav table {
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.contact-nav img {
    width: 50px;
}

.contact-nav td {
    padding: 100px;
    display: inline-block;
}

.contact-nav li {
    font-size: 20px;
    color: blue
}

.contact-nav a {
    text-decoration: none;
    color: blue;
}

.contact-nav a:hover {
    color: rgb(144, 182, 238);
}