*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
position: 0;
}
.container{
  padding: 10px;
  position: relative;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container img{
  height: 300px;
} 
.container .img2{
  float: right;
} */
nav{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  border-radius: 0 0 10px 10px;
  background-color: #6179D5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
nav .logo{
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #fff;
}
nav .logo p::first-letter{
  font-size: 100px;
}
nav .links{
  float: right;
  width: auto;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
nav .links li{
  list-style: none;
}
nav .links a{
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
nav .links a:hover{
 color: orange;
 border-bottom: 3px solid rgb(0, 255, 21);
 transition: border-bottom 0.5s ease-out;
}
#bar-toggle{
  position: absolute;
  top: -100px;
}
nav .small-menu{
  display: none;
  position: absolute;
  right: 5%;
  top: 20%;
  transform: translateY(50%);
}
.small-menu .line{
  width: 30px;
  height: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.login{
  position: relative;
  margin: 20px;
  padding: 10px;
  background-color: #f4f5fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border: 0px solid;
  border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.login input{
  margin: 5px 0;
  padding: 5px 0;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
}
.login input:hover{
  background-color: white;
}
.login button{
  margin: 2px 0;
  padding: 4px;
  border-radius: 5px;
}
.login .l-btn a{
  text-decoration: none;
  color: white;
}
.login .l-btn{
  width: 25%;
  background-color: #6179D5;
  color: white;
  border: 0;
  cursor: pointer;
}
.login .l-btn:hover{
  background-color: blue;
}
.login p a{
  text-decoration: none;
}
.login p a:hover{
  color: blue;
}
.login .n-acco{
  background-color: #6179D5;
}
.login .n-acco:hover{
  background-color: green;
}
.login .n-acco a{
  text-decoration: none;
  color: white;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 50px;  
}
@media screen and (max-width: 768px){
  .container{
    flex-direction: column;
    bottom: 100px;
  }
  .login{
    width: 70%;
    max-width: 400px;
  }
  .login label{
    display: none;
  }
  .login input{
     display: block;
     width: 100%;
  }
  .login .l-btn{
    
    min-width: 50px;
    width: 30%;
  }
  nav .logo{
    float: none;
    width: 100%;
    justify-content: center;
  }
  nav .links{
    min-width: 50%;
    float: none;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 100px;
    bottom: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    background-color: rgb(25, 29, 36);
    opacity: 0.7;
    border-radius:0 0 0 100px;
    overflow: hidden;
  } 
  nav .links li{
    /* line-height: 70px; */
  }
  nav .links a{
    font-size: 16px;
  }
  nav :checked ~ .links{
    bottom: 0;
  }
  nav .small-menu{
    display: block;
  }
  nav :checked ~ .small-menu .line:nth-child(1){
    transform: translateY(10px) rotate(45deg);
  }
  nav :checked ~ .small-menu .line:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
  }
  nav :checked ~ .small-menu .line:nth-child(2){
    opacity: 0;
  }
}
@media screen and (max-width: 200px) {
  img{
    display: none;
  }
  nav .logo p{
    display: none;
  }
  /* nav .logo p::first-letter{
    font-size: 25px;
  } */
}