* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-color: white;
    display: inline;
    color: red;
}

a {
    text-decoration: none;
}

.menu {
    cursor: pointer;
    margin: 40px 5px;
    display: flex;
    padding: 0% 5px;
    font-size: 20px;
    color: yellow;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: chocolate;
}

.menu-nav {
    position: absolute;
    right: 0;
    margin-top: 10px;
    background-color: chocolate;
    display: none;
    color: yellow;
}

.menu-nav li {
    padding-bottom: 20px;
    border-bottom: solid;
    padding-left: 10px;
}

.menu-nav a {
    color: yellow;
}

.menu-nav li:hover {
    color: red;
    background-color: #80bfff;
}

.menu-nav li {
    list-style: none;
    border-radius: 5px;
}

.topic hr,
h1 {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 150px;
    margin-bottom: 10px;
}

.top-nav {
    display: flex;
    background: #80bfff;
    position: static;
}

.top-nav img {
    width: 100px;
    height: 75px;
    margin: 10px 2%;
    cursor: pointer;
}

.top-nav ul {
    align-items: center;
    list-style: none;
    margin-left: 15%;
    margin-top: 2%;
}

.top-nav li {
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
}

.top-nav a {
    padding: 0% 5px;
    font-size: 20px;
    color: yellow;
    align-items: center;
}

.top-nav a:hover {
    color: black;
    background-color: yellow;
    border-radius: 5px;
    border-top: 0ch;
}